body{
    margin: 0;
    padding: 0;
    font-family: VCR;
}

@font-face {
    font-family: VCR;
    src: url('../fonts/VCR_OSD_MONO_1.001.ttf');
  }

.o-overlay {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.o-overlay__text {
    font-size: 4rem;
}

.o-startscreen {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.o-startscreen__text {
    text-align: center;
}

.o-startscreen__text p {
    margin: 0;
    margin-top: 0.7rem;
}

.o-btn {
    border: 1px solid white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    background: linear-gradient(45deg, #FFF 50%, transparent 50%);
    color: white;
    margin-top: 2rem;
}

.o-btn:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #FFF 50%, #fff 50%);
    z-index: -1;
}

.o-btn, .o-btn:after {
    background-size: 300%;
    background-position: 100%;
    transition: 0.6s ease-in-out;
}

.o-btn:hover,
.o-btn:hover:after {
    background-position: 0;

    color: black; /*For IE*/
}

.hidden {
    display:none;
}

@media (min-width: 320px) and (max-width: 800px) {

    .o-startscreen__text {
        padding: 0 1rem;

    }

    .o-overlay__text {
        font-size: 1.5rem;
    }

    .o-btn {
        font-size: 1rem;
        padding: 1.3rem 2rem;
    }
}