.o-overlay {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.o-overlay__text {
    font-size: 4rem;
}

.hidden {
    display:none;
}